{% extends 'base.tpl' %}

{% block page_title %}Dashboard - {% endblock %}

{% block content %}
  <h1>Dashboard</h1>
  <p class="lead clearfix">
    Upcoming payments
    <a class="btn btn-primary pull-right" href="{% url 'create_payment' %}">
      <i class="icon-plus icon-white"></i>
      Create new payment
    </a>
  </p>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th class="title">Title</th>
        <th class="amount tr">Amount</th>
        <th class="start-date tr">Start date</th>
        <th class="next-payment tr">Next payment</th>
        <th class="actions tr">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for payment in payments %}
      <tr>
        <td class="title">{{ payment.title }}</td>
        <td class="amount tr">{{ payment.amount|floatformat:2 }}</td>
        <td class="start-date tr">{{ payment.start_date|date:"d N Y" }}</td>
        <td class="next-payment tr">{{ payment.get_next_payment|date:"d N Y" }}</td>
        <td class="actions tr">
          <a class="btn" href="{% url 'edit_payment' payment.id %}"><i class="icon-pencil"></i> Edit</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
