html,
body {
  height: 100%;
}

body {
  min-height: 500px;
  overflow-y: scroll;
  position: relative;
}

footer {
  background: #222;
  border-top: 1px solid #000;
  bottom: 0;
  color: #666;
  left: 0;
  padding: 17px 0 18px 0;
  position: absolute;
  right: 0;
}

footer .container {
  padding-left: 20px;
  padding-right: 20px;
}

.content {
  bottom: 67px;
  left: 0;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 62px;
}

input[type="number"],
input[type="date"] {
  text-align: right;
}

.tl {
  text-align: left
}

.tr {
  text-align: right
}

.tc {
  text-align: center
}

table th.tl,
table td.tl {
  text-align: left
}

table th.tr,
table td.tr {
  text-align: right
}

table th.tc,
table td.tc {
  text-align: center
}
